.cart_order {
    height: 100vh;
    width: 100vw;
    background: url('https://images.unsplash.com/photo-1628527304948-06157ee3c8a6?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8YnV5fGVufDB8fDB8fHww');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    .back {
        position: absolute;
        top: 30px;
        left: 30px;
        color: white;
        font-size: 35px;
        cursor: pointer;
    }

    .cart_access {
        background-color: rgba(128, 116, 116, 0.5);
        height: 45%;
        width: 40%;
        padding: 1.7rem;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .div_c {
            display: flex;
            flex-wrap: wrap;
            gap: 1.5rem;
        }

        .cart_item {
            position: relative;
            width: max-content;
            background-color: aliceblue;
            display: flex;
            padding: 0.7rem 2rem 0.7rem 1rem;
            border-radius: 0.5rem;

            .cross_icon {
                position: absolute;
                right: 3px;
                top: 4px;
                cursor: pointer;
            }

            p {
                font-size: 15px;
                font-weight: 600;
            }
        }

        .purchase {
            align-self: center;
            button {
                border: none;
                box-shadow: 0 0 4px rgba(255,255,255,1);
                background-color: goldenrod;
                color: black;
                padding: 0.4rem 1rem;
                border-radius: 5px;
                cursor: pointer;
            }
        }
    }
}