.petlistfilter {
    display: flex;
    gap: 2rem;
    padding: 2.5rem 0.2rem;

    &>div {
        border-style: none;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
        padding: 0.4rem 1rem;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;
    }

    .selected {
        background-color: green;
        color: white;
        box-shadow: 0 0 0;
    }
}